<h1>Lists</h1>

<div class="overflow-auto">
  <div class="lists-container d-flex">
    <% @lists.each do |list| %>
      <div class="card bg-<%= list.color %> list-tasks">
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <h6 class="card-subtitle mb-2 text-light">Priority: <%= list.priority %></h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
