<h1>Boards</h1>
<%= link_to 'New Board', new_board_path, class: 'btn btn-outline-success mb-3'%>

<div class="row cable-container">

    <%= render 'card' %>

</div>

<%= link_to 'Go home', root_path %>
