@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.list-tasks{
  height: 45rem;
  width: 18rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.boards{
  width: 30rem;
  margin: 1rem;
}
