@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.list-tasks{
  height: 45rem;
  width: 18rem;
  margin-left: 1rem;
}

.lists-container{
  width: 200rem;
  height: 50rem;
  overflow-x: auto;
}
